{{define "new-pswd"}}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="static/index.css">
</head>

<body>
	<header>
		<a href="/login">Log In</a>
	</header>

	<main>
		<form id="form" method="post">
			<div>
				<label for="form">Password:</label>
				<input type="password" id="new-pswd" name="new-pswd">
			</div>

			<br>

		</form>

		{{if .}}<p>{{.}}</p>{{end}}
		<button type="submit" form="form" id="reset" name="reset">Reset</button>
	</main>
</body>

</html>
{{end}}