{{define "profile-form"}}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="static/index.css">
</head>

<body>
	<header>
		<a href="/logout">Log Out</a>
	</header>

	<main>
		<form id="form" method="post" action="/profile-form">
			<fieldset>
				<div>
					<label for="form">Email:</label>
					<input type="email" id="email" name="email" value={{.Email}} {{if .ReadOnlyEmail}}readonly{{end}}>
				</div>

				<br>

				<div>
					<label for="form">Full Name:</label>
					<input type="text" id="full-name" name="full-name" value={{.FullName}}>
				</div>

				<br>

				<div>
					<label for="form">Address:</label>
					<input type="text" id="address" name="address" value={{.Address}}>
				</div>

				<br>

				<div>
					<label for="form">Phone Number:</label>
					<input type="tel" id="phone-number" name="phone-number" value={{.PhoneNumber}}>
				</div>
			</fieldset>
		</form>

		{{if .Warning}}<p>{{.Warning}}</p>{{end}}

		<a href="/profile-view">
			<button type="button" id="cancel" name="cancel">Cancel</button>
		</a>

		<button type="submit" form="form" id="save" name="save">Save and Continue</button>
	</main>
</body>

</html>
{{end}}