{{define "profile-view"}}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="static/index.css">
</head>

<body>
	<header>
		<a href="/logout">Log Out</a>
	</header>

	<main>
		<div>
			<span>Email:</span>
			<span>{{.Email}}</span>
		</div>

		<br>

		<div>
			<span>Full Name:</span>
			<span>{{.FullName}}</span>
		</div>

		<br>

		<div>
			<span>Address:</span>
			<span>{{.Address}}</span>
		</div>

		<br>

		<div>
			<span>Phone Number:</span>
			<span>{{.PhoneNumber}}</span>
		</div>

		<a href="/profile-form">
			<button type="button" id="edit" name="edit">Edit</button>
		</a>
	</main>
</body>

</html>
{{end}}