{{define "pswd-recovery"}}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="static/index.css">
</head>

<body>
	<header>
		<a href="/login">Log In</a>
	</header>

	<main>
		<form id="form" method="post" action="/pswd-recovery">
			<div>
				<label for="form">Email:</label>
				<input type="email" id="email" name="email">
			</div>
		</form>

		{{if .}}<p>{{.}}</p>{{end}}
		<button type="submit" form="form" id="send-link" name="send-link">Send Reset Link</button>
	</main>
</body>

</html>
{{end}}