{{define "sign-up"}}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="static/index.css">
</head>

<body>
	<header>
		<a href="/login">Log In</a>
	</header>

	<main>
		<a href="/glogin/">Sign Up With Google</a>
		<form id="form" method="post" action="/sign-up">
			<fieldset>
				<div>
					<label for="form">Email:</label>
					<input type="email" id="email" name="email">
				</div>

				<br>

				<div>
					<label for="form">Password:</label>
					<input type="password" id="password" name="password">
				</div>
			</fieldset>
		</form>
		{{if .}}<p>{{.}}</p>{{end}}
		<button type="submit" form="form" name="sing-up">Sign Up</button>
	</main>
</body>

</html>
{{end}}